/ECOM/ECOM-ejb/build/
/ECOM/ECOM-ejb/dist/
/ECOM/build/
/ECOM/ECOM-war/build/
/ECOM/ECOM-war/dist/
/ECOM/dist/
/ECOM/nbproject/private/
/ECOM/ECOM-war/nbproject/private/
/ECOM/ECOM-ejb/nbproject/private/