/********** BACKGROUNDS **********/
/*background*/
body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color : black;
    color: #181818;
	width:100%;
}

/*background du site*/
#wrapper 
{
	background-color : pink;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	width: 1100px;
	height: 680px;
	left: 50%;
	margin-left: -550px;
	position: absolute;
}



/********** HEADER **********/
/*position du Header*/
header
{
	position: relative;
	height:78px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	background-color : grey;
}

header nav div, header nav li
{
    display: inline-block;
    margin-right: auto;
	margin-left: auto;
}

/*logo PromoCoupon*/
#titre_principal
{
	width:20%;
	text-align: left;
}

/*barre de navigation : Accueil, Toutes les promos, Vers chez moi*/
#navigation
{
	width:60%;
	text-align: center;
}

/*connection au compte*/
#compte
{
	width:19%;
	text-align: right;
	font-size: 10px;
}



/********** SECTION **********/
/* disposition de section */
article, aside 
{
	display: inline-block;
	vertical-align: top;
}

/* formulaire coté client */
article
{
	width : 880px;
}

#client_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#client_section
{
}

/* information coté entreprise */
aside
{
	width : 215px;
	height : 601px;
	position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}

#entreprise_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#entreprise_section
{
}