/********** BACKGROUNDS **********/
/*background*/
body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color : black;
    color: #181818;
	width:100%;
}

/*background du site*/
#wrapper 
{
	background-color : pink;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
	position: absolute;
}

wrapper, aside
{
    display: inline-block;
}

/********** HEADER **********/
/*position du Header*/
header
{
	position: relative;
	height:78px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	background-color : grey;
}

header nav li
{
    display: inline-block;
}

#titre_principal, #navigation, #compte
{
    display: inline-block;
}

/*logo PromoCoupon*/
#titre_principal
{
	width:220px;
	text-align: left;
}

/*barre de navigation : Accueil, Toutes les promos, Vers chez moi*/
#navigation
{
	width:760px;
	text-align: center;
}

/*connection au compte*/
#compte
{
	width:200px;
	text-align: right;
	font-size: 12px;
}
#boxLogin
{	
	position: relative;
	width:200px;
	height:110px;
	z-index: 1;
	margin-left: 998px;
	margin-top: -10px;
	background-color: grey;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}
#boxLogin h3, #fermer
{
margin-top: -20px;
 display: inline-block;
}

#fermer
{
 font-size: 12px;
}



/********** SECTION **********/
/* disposition de section */
article, #entreprise 
{
	display: inline-block;
	vertical-align: top;
}

/* formulaire coté client */
article
{
	width : 980px;
}

#client_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#client_section
{
}

article table
{
	font-size: 12px;
	text-align: right;
}

/* information coté entreprise */
#entreprise
{
	width : 215px;
	height : 601px;
	position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}

#entreprise_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#entreprise_section
{
}



/********** FOOTER **********/
footer 
{
	position: relative;
	height:100px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;
	background-color : grey;
}